@using project_iteration2.Models
@model IEnumerable<project_iteration2.Models.publicart>

@{
    ViewBag.Title = "compare";
}
<style>
    body {
        margin-right: -10%;
        overflow-x: hidden;
    }

    .yolo {
        border-style: hidden;
        -webkit-appearance: none;
        font-size: 20px;
    }
</style>
<link rel="stylesheet" href="~/Content/comparison.css">

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("GALLEVISIONERY", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    @Html.ActionLink("BACK", "Index", "publicarts")
                </li>
                <li>
                    @Html.ActionLink("Refresh Options", "compare2", "publicarts")
                </li>
            </ul>

        </div>
    </div>
</div>

@using (Html.BeginForm())
{
<div class="CompareField row" style="display:flex; align-items:center; flex-direction:row; flex-wrap:wrap; justify-content:flex-end; padding-top: 60px; padding-bottom: 50px;">

    <div class="box1" style="flex:3; order:1;">

        @Html.DropDownList("option1", new SelectList(ViewBag.showSomething, "Gallery_Name"), new { @class = "yolo" })

    </div>
    <div class="box2" style="flex:3; order:2;">
        @Html.DropDownList("option2", "none")
    </div>
    <div class="box3" style="flex:1; order:3;">
        <input class=" btn btn-dark" type="submit" value="COMPARE" />
    </div>
</div>
        }


    








    <!-- FIRST SECTION STARTS HERE -->
    <div class="section1">
        @{
            var tempList1 = new List<publicart>();

        }


        @foreach (var item in Model)
        {
            tempList1.Add(item);
        }


        @{
            int? NoOfCF1 = @tempList1[0].NoOFCF;
            int? NoOfArt1 = @tempList1[0].NoOfArt;
            int? NoOfBsn1 = @tempList1[0].NoOfBsn;
            int? Toilet = Convert.ToInt32(@tempList1[0].Toilet_);
            int? Transport1 = @tempList1[0].Parking;
            int? Foot1 = (@tempList1[0].MonPed + @tempList1[0].TuesPed + @tempList1[0].WedPed + @tempList1[0].ThursPed + @tempList1[0].FriPed + @tempList1[0].SatPed + @tempList1[0].SunPed)
                ;
            int? NoOfCF2 = @tempList1[1].NoOFCF;
            int? NoOfArt2 = @tempList1[1].NoOfArt;
            int? NoOfBsn2 = @tempList1[1].NoOfBsn;
            int? Toilet2 = Convert.ToInt32(@tempList1[1].Toilet_);
            int? Transport2 = @tempList1[1].Parking;
            int? Foot2 = (@tempList1[1].MonPed + @tempList1[1].TuesPed + @tempList1[1].WedPed + @tempList1[1].ThursPed + @tempList1[1].FriPed + @tempList1[1].SatPed + @tempList1[1].SunPed)
                ;
        }



        <div class="split">
            <div class="left"></div>
            <div class="right"></div>
        </div>

        @if (Model.Count() == 2)
        {<div class="row">
                <div class="pic1 col-md-6"><img class="col-sm-6" src="~/Content/picture/@tempList1[0].Id/image1.jpg" alt=""></div>
                <div class="pic2 col-md-6"><img class="col-sm-6" src="~/Content/picture/@tempList1[1].Id/image1.jpg" alt=""></div>

            </div>}
        <div class="row">
            <div class="col-sm-6">
                <!-- INSERT GALLERY 1 NAME HERE -->
                <h4 style="text-align: center;">
                    <b>
                        @if (Model.Count() == 2)
                        {@tempList1[0].Gallery_Name}
                    </b>
                </h4>
            </div>
            <div class="col-sm-6">
                <!-- INSERT GALLERY 2 NAME HERE -->
                <h4 style="text-align: center;">
                    <b>
                        @if (Model.Count() == 2)
                        {@tempList1[1].Gallery_Name}
                    </b>
                </h4>
            </div>
        </div>
        @if (Model.Count() == 2)
        {
            <div class="desc1">
                <!-- INSERT DATA HERE, MAKE SURE THEY ARE CALLED FROM BOTH COLUMNS FROM THE DATASET -->
                <p>
                    <b> @tempList1[0].Gallery_Type Gallery </b><br>
                    <b>Suitable Art:</b>
                    @if (@tempList1[0].Painting == "Y")
                    {
                        <span>Painting</span>
                    }
                    @if (@tempList1[0].Performance == "Y")
                    {
                        <span>Performance</span>
                    }
                    @if (@tempList1[0].Installation == "Y")
                    {
                        <span>Installation</span>
                    }
                    @if (@tempList1[0].Sculpture == "Y")
                    {
                        <span>Sculpture</span>
                    }
                    @if (@tempList1[0].Photography == "Y")
                    {
                        <span>Photography</span>
                    }
                    @if (@tempList1[0].Visual == "Y")
                    {
                        <span> Visual Art</span>
                    }
                    <br>
                </p>
            </div>
        }
        @if (Model.Count() == 2)
        {
            <div class="desc2">
                <!-- INSERT DATA HERE, MAKE SURE THEY ARE CALLED FROM BOTH COLUMNS FROM THE DATASET -->
                <p>
                    <b> @tempList1[1].Gallery_Type Gallery</b> <br>
                    <b> Suitable Art:</b>
                    @if (@tempList1[1].Painting == "Y")
                    {
                        <span>Painting</span>
                    }
                    @if (@tempList1[1].Performance == "Y")
                    {
                        <span>Performance</span>
                    }
                    @if (@tempList1[1].Installation == "Y")
                    {
                        <span>Installation</span>
                    }
                    @if (@tempList1[1].Sculpture == "Y")
                    {
                        <span>Sculpture</span>
                    }
                    @if (@tempList1[1].Photography == "Y")
                    {
                        <span>Photography</span>
                    }
                    @if (@tempList1[1].Visual == "Y")
                    {
                        <span> Visual Art</span>
                    }
                    <br>
                </p>
            </div>
        }



    </div>
    <!-- JUST A BACKGROUND PIC FOR PARALLAX EFFECT-->
    <div class="banner"></div>

    <!-- JUST A BACKGROUND PIC FOR PARALLAX EFFECT-->
    <div class="banner"></div>

    <!-- SECOND SECTION STARTS HERE -->
    <div class="section2">

        <div class="secondHeading">
            <h1>/ HERE VERSUS THERE</h1>
        </div>

        <!-- INSERT AMENITY CHART HERE -->
        <canvas class="col-sm-4" id="radarChart" height="400" width="400"></canvas>
        <script>
        // for first gallery
        var NoOfCF1 = @NoOfCF1;
        var toilet = @Toilet;
        var transport1 = @Transport1;
        var foot1 = @Foot1;
        var traffic1 = 0;
        var entertainment = 0;
        var accessible = 0;
        var transportData1 = 0;
        // for second gallery
        var NoOfCF2 = @NoOfCF2;
        var toilet2 = @Toilet2;
        var transport2 = @Transport2;
        var foot2 = @Foot2;
        var traffic2 = 0;
        var entertainment2 = 0;
        var accessible2 = 0;
        var transportData2 = 0;
        //first gallery
        if ((NoOfCF1) <= 10) {

            entertainment = 1;
        }
        else if ((NoOfCF1) > 10 && NoOfCF1 <= 22) {
            entertainment = 2;
        }
        else if (NoOfCF1 > 22 && NoOfCF1 <= 32) {
            entertainment = 3;
        }
        else if (NoOfCF1 > 32 && NoOfCF1 <= 40) {
            entertainment = 4;
        } else {
            entertainment = 5;
        }
        if ((toilet) == 0) {

            accessible = 1;
        }
        else if (toilet == 1) {
            accessible = 2;
        }
        else if (toilet == 2) {
            accessible = 3;
        }
        else if (toilet == 3) {
            accessible = 4;
        } else {
           accessible = 5;
        }
        if ((transport1) == 1) {

            transportData1 = 1;
        }
        else if (transport1 > 1 && transport1 <= 5 ) {
            transportData1 = 2;
        }
        else if (transport1 > 5 && transport1 <= 10) {
            transportData1 = 3;
        }
        else if (transport1 > 10 && transport1 <= 307) {
            transportData1 = 4;
        } else {
            transportData1 = 5;
        }
        if (foot1 <= 4000) {

            traffic1 = 1;
        }
        else if (foot1 > 4000 && foot1 <= 6000) {
            traffic1 = 2;
        }
        else if (foot1 > 6000 && foot1 <= 8000) {
            traffic1 = 3;
        }
        else if (foot1 > 8000 && foot1 <= 12000) {
            traffic1 = 4;
        } else {
            traffic1 = 5;
        }
        // second gallery
        if ((NoOfCF2) <= 10) {

            entertainment2 = 1;
        }
        else if ((NoOfCF2) > 10 && NoOfCF2 <= 22) {
            entertainment2 = 2;
        }
        else if (NoOfCF2 > 22 && NoOfCF2 <= 32) {
            entertainment2 = 3;
        }
        else if (NoOfCF2 > 32 && NoOfCF2 <= 40) {
            entertainment2 = 4;
        } else {
            entertainment2 = 5;
        }
        if ((toilet2) == 0) {

            accessible2 = 1;
        }
        else if (toilet2 == 1) {
            accessible2 = 2;
        }
        else if (toilet2 == 2) {
            accessible2 = 3;
        }
        else if (toilet2 == 3) {
            accessible2 = 4;
        } else {
            accessible2 = 5;
        }
        if ((transport2) == 1) {

            transportData2 = 1;
        }
        else if (transport2 > 1 && transport2 <= 5 ) {
            transportData2 = 2;
        }
        else if (transport2 > 5 && transport2 <= 10) {
            transportData2 = 3;
        }
        else if (transport2 > 10 && transport2 <= 307) {
            transportData2 = 4;
        } else {
            transportData2 = 5;
        }
        if (foot2 <= 4000) {

            traffic2 = 1;
        }
        else if (foot2 > 4000 && foot2 <= 6000) {
            traffic2 = 2;
        }
        else if (foot2 > 6000 && foot2 <= 8000) {
            traffic2 = 3;
        }
        else if (foot2 > 8000 && foot2 <= 12000) {
            traffic2 = 4;
        } else {
            traffic2 = 5;
        }
        var ctx = document.getElementById('radarChart').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'radar',

            // The data for our dataset
            data: {
                labels: ['Entertainment', 'Accessibility', 'Transportation','Foot Traffic'],
                datasets: [{
                    label: '@tempList1[0].Gallery_Name',
                    backgroundColor: 'rgb(255, 99, 132,0.4)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [entertainment, accessible, transportData1, traffic1]
                },
                    {
                        label: '@tempList1[1].Gallery_Name',
                        backgroundColor: 'rgb(54,162,235,0.4)',
                        borderColor: 'rgb(54,162,235)',
                        fill: 'true',
                        data: [entertainment2, accessible2,transportData2,traffic2]
                    }]
            },

            // Configuration options go here
            options: {
                responsive:false,
                scale: {
                    ticks: {
                        beginAtZero: true,
                        max: 5,
                        maxTicksLimit: 5,
                        display: true,
                        backdropColor: 'transparent',
                    },
                    gridLines: {
                        circular: true, /* THIS DOES NOT WORK FML........ */
                        lineWidth: 0.6,
                    },
                    labels: {
                        padding: 20,
                    },
                    pointLabels :{
                        fontSize: 12,
                    },
                    legend: {
                        position: 'bottom',
                        onClick: false,
                        labels: {
                            padding: 20,
                        }
                    },
                    title: {
                        display: true,
                        text: "Location evaluation ratings",
                        fontSize: 16
                    }
                }
            }
        });
        </script>

        <!-- INSERT CALCULATED DATA HERE -->
        <div class="versus" style="background-image:url(/Content/compare/parallax2.png)">
            @if (Model.Count() == 2)
            {
                <p>
                    <h4 style="text-align: center;">
                        <span><i class="material-icons">accessible</i></span>
                        <span><b>@tempList1[0].Gallery_Name </b></span> <!-- INSERT THE GALLERY WITH HIGHER RATING OF ACCESSIBILITY HERE -->
                        has
                        <span><b> @tempList1[0].Toilet_ </b></span>
                        accessible/unisex toilets and
                        <span> <b>@tempList1[1].Gallery_Name </b></span>
                        has <span><b>@tempList1[1].Toilet_</b></span>
                        accessible/unisex toilets.
                    </h4>
                    <br />
                    <br />
                    <h4 style="text-align: center;">
                        <span><i class="material-icons">free_breakfast</i></span>
                        <span><b>@tempList1[0].Gallery_Name </b></span> <!-- INSERT THE GALLERY WITH HIGHER RATING OF ACCESSIBILITY HERE -->
                        has
                        <span><b> @tempList1[0].NoOFCF </b></span>
                        number of cafes nearby and
                        <span><b> @tempList1[1].Gallery_Name </b></span>
                        has <span><b>@tempList1[1].NoOFCF</b></span>
                    </h4>
                    <br />
                    <br />
                    <h4 style="text-align: center;">
                        <span><i class="material-icons">collections</i></span>
                        <span><b>@tempList1[0].Gallery_Name </b></span> <!-- INSERT THE GALLERY WITH HIGHER RATING OF ACCESSIBILITY HERE -->
                        has
                        <span><b> @tempList1[0].NoOfArt </b></span>
                        public artworks around the Gallery
                        <span><b> @tempList1[1].Gallery_Name </b></span>
                        has <span><b>@tempList1[1].NoOfArt</b></span>
                    </h4>
                    <br />
                    <br />

                    <h4 style="text-align: center;">
                        <span><i class="material-icons">business_center</i></span>

                        <span><b>@tempList1[0].Gallery_Name </b> </span> <!-- INSERT THE GALLERY WITH HIGHER RATING OF ACCESSIBILITY HERE -->
                        has
                        <span><b> @tempList1[0].NoOfBsn </b></span>
                        office blocks nearby
                        <span><b> @tempList1[1].Gallery_Name </b></span>
                        has <span><b>@tempList1[1].NoOfBsn</b></span>
                    </h4>
                    <br />
                    <br />
                    <h4 style="text-align: center;"><b> / C O N C L U S I O N </b></h4>
                    <br />
                    <h4 style="text-align: center;">
                        @if (Convert.ToDouble(@tempList1[0].Toilet_) > Convert.ToDouble(@tempList1[1].Toilet_))
                        {<b>@tempList1[0].Gallery_Name</b>}
                    else
                    {<b>@tempList1[1].Gallery_Name</b>}
                        is more suited for <b>Accesible/Unisex Toilet</b> needs.
                    </h4>
                    <br />
                    <h4 style="text-align: center;">
                        @if (Convert.ToDouble(@tempList1[0].NoOFCF) > Convert.ToDouble(@tempList1[1].NoOFCF))
                        {<b>@tempList1[0].Gallery_Name</b>}
                    else
                    {<b>@tempList1[1].Gallery_Name</b>}
                        is more suited to pick for <b>Social</b> area.
                    </h4>
                    <br />
                    <h4 style="text-align: center;">
                        @if (Convert.ToDouble(@tempList1[0].NoOfArt) > Convert.ToDouble(@tempList1[1].NoOfArt))
                        {<b>@tempList1[0].Gallery_Name</b>}
                    else
                    {<b>@tempList1[1].Gallery_Name</b>}
                        is more suited to pick for <b>Tourist Artsy</b> area.
                    </h4>
                    <br />
                    <h4 style="text-align: center;">
                        @if (Convert.ToDouble(@tempList1[0].NoOfBsn) > Convert.ToDouble(@tempList1[1].NoOfBsn))
                        {<b>@tempList1[0].Gallery_Name</b>}
                    else
                    {<b>@tempList1[1].Gallery_Name</b>}
                        is more suited to pick for Targetting <b>Business</b> centers.
                    </h4>
                </p>

            }
        </div>

    </div>

