@model project_iteration2.Models.publicart

@{
    ViewBag.Title = "Details";
}
<style>

   
</style>
<div class="temp"></div>
<div class="first-block"></div>
<div class="second-block"></div>
 @{  var temp = @Model.Unisex;
     double toilets = Convert.ToDouble(@Model.Toilet_);
     
 }
<div class="loader">
    <ul>
        <li>L</li>
        <li>O</li>
        <li>A</li>
        <li>D</li>
        <li>I</li>
        <li>N</li>
        <li>G</li>
    </ul>
</div>
<div class="third-block"></div>

<br/>
<div class="logo">
   <br/>
</div>
<div class="content">
    <div class="heading">
        <!-- INSERT DATA HERE -->
        <span>@Model.Gallery_Name</span>
    </div>
    <div class="desc">
        <!-- INSERT DATA HERE -->
        <p>@Model.Description</p>
    </div>
    <div class="link">
        <button type="button" onclick="window.location.href='@Model.Website'">VISIT WEBSITE</button>
    </div>
    <H4>Ameneties</H4>
    @if (temp == "Y" && toilets >=  2)
    {
        <i class="material-icons" title="Accessible Toilets nearby: @Model.Toilet_" style="font-size:36px; color:red;">accessible</i>
    }
    else if(temp == "Y")
    {
        <i class="material-icons" title="Accessible Toilets nearby: @Model.Toilet_ " style="font-size:36px;">accessible</i>
    }
</div>
<div class="img">
    <img src="~/Content/picture/@Model.Id/image1.jpg"/>
    
</div>

<div class="hours">
     
</div>




@Html.ActionLink("Back to List", "Index")
<script type="text/javascript">
    TweenMax.from(".logo", 1.6, {
        delay: 6.4,
        opacity: 0,
        y: 30,
        ease: Expo.easeInOut
    });

    TweenMax.from(".download", 1.6, {
        delay: 6.5,
        opacity: 0,
        y: 30,
        ease: Expo.easeInOut
    });

    TweenMax.from(".heading", 1.6, {
        delay: 6.6,
        opacity: 0,
        y: 30,
        ease: Expo.easeInOut
    });

    TweenMax.from(".desc", 1.6, {
        delay: 6.7,
        opacity: 0,
        y: 30,
        ease: Expo.easeInOut
    });

    TweenMax.from("button", 1.6, {
        delay: 6.8,
        opacity: 0,
        y: 30,
        ease: Expo.easeInOut
    });

    TweenMax.from(".watch", 1.6, {
        delay: 6.9,
        opacity: 0,
        y: 30,
        rotation: 90,
        ease: Expo.easeInOut
    });

    TweenMax.staggerFrom(".media ul li", 2, {
        delay: 7,
        opacity: 0,
        y: 40,
        ease: Expo.easeInOut
    }, 0.2);

</script>